.wrapper-faq-list(data-js-init="FaqPage")
	section.item-faq.open
		h4.question Меня забирают в армию с брекетами, что делать?
		p.answer.
			Можно снять брекеты, поставить ретейнер и продолжить лечение после армии, но в общем то Вам должны дать отсрочку на время лечения, с брекетами туда не стоит ходить, очень травмоопасно. Брекеты не дают отсрочки от призыва, с другой стороны, с брекетами в армии служить запрещается, так как они требуют внимания и постоянного обслуживания. Заставить призывника снять систему тоже невозможно, на основании пункта 3 статьи 20 ФЗ «Об основах охраны здоровья граждан в РФ». Поэтому ситуация с брекетами до сих пор до конца не понятна. Везде по разному. Где то дают отсрочку, где то нет. И эти решения не опираются на закон. В случае, если Вас всё-таки призывают в армию, Вы имеете право обжаловать решение военкомата на основании пункта 4 статьи 29 ФЗ "О воинской обязанности и военной службе".
			P.answer.S. Некоторые юристы в этой ситуации ссылаются на пункт "в" статьи 82 Расписания болезней. К пункту «в» относятся: 
			- неудаленные металлические конструкции (после переломов костей) при отказе от их удаления.
	section.item-faq
		h4.question Что такое ОПТГ и для чего это нужно?
		p.answer.
			ОПТГ - это, дословно, ортопантомограмма. Панорамный снимок зубов и тканей челюсти. Важнейшая составляющая диагностики в ортодонтическом лечении. Без этого снимка невозможно грамотное исправление прикуса брекетами. ОПТГ - это первое, что обязан изучить ортодонт на консультации.
	section.item-faq
		h4.question Как быстро выравниваются зубы?
		p.answer.
			В зависимости от положения зубов и степени сложности лечения. Чаще всего,через два-три месяца исправления прикуса брекетами на верхней челюсти, зубы встают в правильную дугу. Оставшееся время лечения пациент наслаждается видом ровных зубов, а брекет система становится практически незаметной, а в случае с эстетической ситемой типа Damon Clear превращается в пикантное украшение. Вообще, слухи о том, что брекеты портят внешность сильно преувеличены, примерно через месяц пациент настолько привыкает к брекетам, что перестаёт их замечать, а многие сожалеют и скучают по брикетам после снятия брекет-системы
	section.item-faq
		h4.question Можно ли есть сразу после установки брекетов?
		p.answer.
			Можно, так как брекеты фиксируются на светоотверждаемый клей, кторый затвердевает мгновенно, после воздействия специальной лампы. Рекомендация не есть 2-3 часа после - это вчерашний день, так было когда пломбы и материалы стоматологов были химического отверждения, то есть полностью высыхали под воздействием воздуха за 2-3 часа. С появлением светоотверждаемых материалов такая необходимость отпала.
	section.item-faq
		h4.question Брекеты портят эмаль зубов и после них образуется кариес?
		p.answer.
			Нет. Кариес и,как следствие, испорченная эмаль - это личная неудовлетворительная гигиена. Брекеты лишь затрудняют чистку зубов, поэтому в период исправления прикуса необходимо пользоваться специальными щётками, ёршиками и суперфлоссом, а так же, регулярно проводить профессиональную гигиену, раз в 3-4 месяца. Не лишним будет ирригатор. И всё будет хорошо).
	section.item-faq
		h4.question Больно ставить брекеты?
		p.answer.
			Установка брекетов абсолютно безболезненна. Брекет фиксируется на клей к эмали зуба. Когда все брекеты установлены в нужные позиции, одеваются дуги. После того, как зубы начнут движение в заданном брекетами направлении, может возникнуть болезненные ощущения, как правило к вечеру после установки брекет-системы. У всех интенсивность этих ощущений разная, в зависимости от индивидуального болевого порога. Многие вообще не испытывают никаких изменений.
	section.item-faq
		h4.question Меня забирают в армию с брекетами, что делать?
		p.answer.
			Можно снять брекеты, поставить ретейнер и продолжить лечение после армии, но в общем то Вам должны дать отсрочку на время лечения, с брекетами туда не стоит ходить, очень травмоопасно. Брекеты не дают отсрочки от призыва, с другой стороны, с брекетами в армии служить запрещается, так как они требуют внимания и постоянного обслуживания. Заставить призывника снять систему тоже невозможно, на основании пункта 3 статьи 20 ФЗ «Об основах охраны здоровья граждан в РФ». Поэтому ситуация с брекетами до сих пор до конца не понятна. Везде по разному. Где то дают отсрочку, где то нет. И эти решения не опираются на закон. В случае, если Вас всё-таки призывают в армию, Вы имеете право обжаловать решение военкомата на основании пункта 4 статьи 29 ФЗ "О воинской обязанности и военной службе".
			P.answer.S. Некоторые юристы в этой ситуации ссылаются на пункт "в" статьи 82 Расписания болезней. К пункту «в» относятся: 
			- неудаленные металлические конструкции (после переломов костей) при отказе от их удаления.
	section.item-faq
		h4.question Что такое ОПТГ и для чего это нужно?
		p.answer.
			ОПТГ - это, дословно, ортопантомограмма. Панорамный снимок зубов и тканей челюсти. Важнейшая составляющая диагностики в ортодонтическом лечении. Без этого снимка невозможно грамотное исправление прикуса брекетами. ОПТГ - это первое, что обязан изучить ортодонт на консультации.
	section.item-faq
		h4.question Как быстро выравниваются зубы?
		p.answer.
			В зависимости от положения зубов и степени сложности лечения. Чаще всего,через два-три месяца исправления прикуса брекетами на верхней челюсти, зубы встают в правильную дугу. Оставшееся время лечения пациент наслаждается видом ровных зубов, а брекет система становится практически незаметной, а в случае с эстетической ситемой типа Damon Clear превращается в пикантное украшение. Вообще, слухи о том, что брекеты портят внешность сильно преувеличены, примерно через месяц пациент настолько привыкает к брекетам, что перестаёт их замечать, а многие сожалеют и скучают по брикетам после снятия брекет-системы
	section.item-faq
		h4.question Можно ли есть сразу после установки брекетов?
		p.answer.
			Можно, так как брекеты фиксируются на светоотверждаемый клей, кторый затвердевает мгновенно, после воздействия специальной лампы. Рекомендация не есть 2-3 часа после - это вчерашний день, так было когда пломбы и материалы стоматологов были химического отверждения, то есть полностью высыхали под воздействием воздуха за 2-3 часа. С появлением светоотверждаемых материалов такая необходимость отпала.
	section.item-faq
		h4.question Брекеты портят эмаль зубов и после них образуется кариес?
		p.answer.
			Нет. Кариес и,как следствие, испорченная эмаль - это личная неудовлетворительная гигиена. Брекеты лишь затрудняют чистку зубов, поэтому в период исправления прикуса необходимо пользоваться специальными щётками, ёршиками и суперфлоссом, а так же, регулярно проводить профессиональную гигиену, раз в 3-4 месяца. Не лишним будет ирригатор. И всё будет хорошо).
	section.item-faq
		h4.question Больно ставить брекеты?
		p.answer.
			Установка брекетов абсолютно безболезненна. Брекет фиксируется на клей к эмали зуба. Когда все брекеты установлены в нужные позиции, одеваются дуги. После того, как зубы начнут движение в заданном брекетами направлении, может возникнуть болезненные ощущения, как правило к вечеру после установки брекет-системы. У всех интенсивность этих ощущений разная, в зависимости от индивидуального болевого порога. Многие вообще не испытывают никаких изменений.