.portfolio-wrapper(data-js-init="PortfolioPage")

	// CATEGORY ITEM
	section.portfolio-category#portfolio_ortodont
		.container

			.row.wrap
				// ITEM
				.col-3.text-center
					span.item-portfolio
						img.lazy#portfolio_ortodont_1(data-original="images/portfolio/1_mini.jpg", src="images/loading.gif", alt="Ортодонтическое лечение брекет-системой DamonQ.", data-big-src="images/portfolio/1.jpg")

				// ITEM
				.col-3.text-center
					span.item-portfolio
						img.lazy#portfolio_ortodont_2(data-original="images/portfolio/2_mini.jpg", src="images/loading.gif", alt="", data-big-src="images/portfolio/2.jpg")

				// ITEM
				.col-3.text-center
					span.item-portfolio
						img.lazy#portfolio_ortodont_3(data-original="images/portfolio/3_mini.jpg", src="images/loading.gif", alt="", data-big-src="images/portfolio/3.jpg")

				// ITEM
				.col-3.text-center
					span.item-portfolio
						img.lazy#portfolio_ortodont_4(data-original="images/portfolio/1_mini.jpg", src="images/loading.gif", alt="Ортодонтическое лечение брекет-системой DamonQ.", data-big-src="images/portfolio/1.jpg")

				// ITEM
				.col-3.text-center
					span.item-portfolio
						img.lazy#portfolio_ortodont_5(data-original="images/portfolio/2_mini.jpg", src="images/loading.gif", alt="", data-big-src="images/portfolio/2.jpg")

				// ITEM
				.col-3.text-center
					span.item-portfolio
						img.lazy#portfolio_ortodont_6(data-original="images/portfolio/3_mini.jpg", src="images/loading.gif", alt="", data-big-src="images/portfolio/3.jpg")

				// ITEM
				.col-3.text-center
					span.item-portfolio
						img.lazy#portfolio_ortodont_5(data-original="images/portfolio/2_mini.jpg", src="images/loading.gif", alt="", data-big-src="images/portfolio/2.jpg")

				// ITEM
				.col-3.text-center
					span.item-portfolio
						img.lazy#portfolio_ortodont_6(data-original="images/portfolio/3_mini.jpg", src="images/loading.gif", alt="", data-big-src="images/portfolio/3.jpg")
							
				// ITEM
				.col-3.text-center
					span.item-portfolio
						img.lazy#portfolio_ortodont_5(data-original="images/portfolio/2_mini.jpg", src="images/loading.gif", alt="", data-big-src="images/portfolio/2.jpg")

				// ITEM
				.col-3.text-center
					span.item-portfolio
						img.lazy#portfolio_ortodont_6(data-original="images/portfolio/3_mini.jpg", src="images/loading.gif", alt="", data-big-src="images/portfolio/3.jpg")

				// ITEM
				.col-3.text-center
					span.item-portfolio
						img.lazy#portfolio_ortodont_5(data-original="images/portfolio/2_mini.jpg", src="images/loading.gif", alt="", data-big-src="images/portfolio/2.jpg")

				// ITEM
				.col-3.text-center
					span.item-portfolio
						img.lazy#portfolio_ortodont_6(data-original="images/portfolio/3_mini.jpg", src="images/loading.gif", alt="", data-big-src="images/portfolio/3.jpg")


include popup