.portfolio-menu-wrapper
	.container
		.row
			.d-flex.justify-content-between.wrap
				.container-fluid
					ul.list-inline.category-menu-portfolio
						li.active
							a(href="#").d-flex.align-items-center.justify-content-center
								span Ортодонтия
						li
							a(href="#").d-flex.align-items-center.justify-content-center
								span Терапия
						li
							a(href="#").d-flex.align-items-center.justify-content-center
								span Эстетическая стоматология