.wrapper-popup-profile
	.d-flex.align-items-center.justify-content-center.flex-wrap(style="height: 100%;")
		span.icon-close
		.photo-wrapper
			img(src="images/portfolio/1.jpg")
		
			.photo-description Ортодонтическое лечение брекет-системой DamonQ.


		.control-wrapper
			span.next.control-element
			span.prev.control-element