// certificates 
section.certificates-section.section-p-80
	.container
		.row
			.col-md-12
				h2.text-center Сертификаты

				.certificates-slider-wrapper
					.left-arrow.arrow-item(onclick="AboutPage.slider('prev')")
						i.fa.fa-long-arrow-left
					.wrapper-slide.align-self-center
						// ITEM
						.certificates-item.d-flex.align-self-center
							a
								img(src="images/certificates/1.jpg", alt="")
						// ITEM
						.certificates-item.d-flex.align-self-center.active
							a
								img(src="images/certificates/1.jpg", alt="")
						// ITEM
						.certificates-item.d-flex.align-self-center
							a
								img(src="images/certificates/1.jpg", alt="")
						// ITEM
						.certificates-item.d-flex.align-self-center
							a
								img(src="images/certificates/1.jpg", alt="")
						// ITEM
						.certificates-item.d-flex.align-self-center
							a
								img(src="images/certificates/1.jpg", alt="")
						// ITEM
						.certificates-item.d-flex.align-self-center
							a
								img(src="images/certificates/1.jpg", alt="")
					.right-arrow.arrow-item(onclick="AboutPage.slider('next')")
						i.fa.fa-long-arrow-right
// *certificates* 
