// certificates 
section.certificates-section.section-p-80
	.container
		.row
			.col-md-12
				h2.text-center Сертификаты

				.certificates-slider-wrapper
					.wrapper-slide.align-self-center
						// ITEM
						.certificates-item.d-flex.align-self-center
							a
								img(data-lazy="images/certificates/1.jpg", alt="")
						// ITEM
						.certificates-item.d-flex.align-self-center.active
							a
								img(data-lazy="images/certificates/1.jpg", alt="")
						// ITEM
						.certificates-item.d-flex.align-self-center
							a
								img(data-lazy="images/certificates/1.jpg", alt="")
						// ITEM
						.certificates-item.d-flex.align-self-center
							a
								img(data-lazy="images/certificates/1.jpg", alt="")
						// ITEM
						.certificates-item.d-flex.align-self-center
							a
								img(data-lazy="images/certificates/1.jpg", alt="")
						// ITEM
						.certificates-item.d-flex.align-self-center
							a
								img(data-lazy="images/certificates/1.jpg", alt="")
// *certificates* 
