// Education 
section.education-section.section-p-80
	.container
		.row
			.col-md-12
				h2.text-center Образование

			.col-md-12
				ul
					li.clearfix
						span.date 2005 г.
						span.text
							|Окончила Московский Государственный Медико-стоматологический Университет по специальности врач-стоматолог. Интернатура на кафедре госпитальной терапевтической стоматологии под руководством профессора Барера Г.М.
					li.clearfix
						span.date 2006 г.
						span.text
							|Окончила ординатуру по специальности ортодонтия на кафедре ортодонтии и детского протезирования Московского Государственного Медико-стоматологического Университета под руководством профессора Персина Л.С.
					li.clearfix
						span.date 2006 г.
						span.text
							|III Международная конференция по ортодонтии «Современное ортодонтическое лечение - шаг в будущее», (Россия)
					li.clearfix
						span.date 2007 г.
						span.text
							|III Международная конференция по ортодонтии «Современное ортодонтическое лечение - шаг в будущее», (Россия)
					li.clearfix
						span.date 2007 г.
						span.text
							|Ортодонтический семинар «Место функциональных аппаратов в лечении дистальной окклюзии», (Россия)
					li.clearfix
						span.date 2007 г.
						span.text
							|Lr. Дубова Е.А. (Россия) «Особенности эстетической реставрации с применением современных материалов»
					li.clearfix
						span.date 2007 г.
						span.text
							|Lr. Акулович А.В. (Россия) «Новейшие методы профессионального отбеливания зубов»
					li.clearfix
						span.date 2007 г.
						span.text
							|Доктор Февралева А.Ю. (Россия), «Современные инновации в стоматологии»
					li.clearfix
						span.date 2008 г.
						span.text
							|Dr.Joanna Antoszewska (Германия), «Микроимплант – оптимальная опора ХХI века»
					li.clearfix
						span.date 2008 г.
						span.text
							|Lr.Тихонов А.В (Россия) «Система пассивного самолигирования Damon System и её применение в ортодонтической практике»
					li.clearfix
						span.date 2008 г.
						span.text
							|Dr.Steven Olsburgh (Швейцария) , «Комплексное ортодонтическое лечение»
					li.clearfix
						span.date 2009 г.
						span.text
							|Dr.Dwight Damon (Америка), «Damon Symposium»
					li.clearfix
						span.date 2010 г.
						span.text
							|Lr.Введенская С.В. (Россия) «Прямая эстетическая реставрация фронтальной группы зубов с помощью композитных реставрационных материалов»
					li.clearfix
						span.date 2011 г.
						span.text
							|Доктор Проценко частный ортодонт (Россия), «Лечение класса II. Клинические аспекты применения корректора дистального прикуса Forsus»
					li.clearfix
						span.date 2011 г.
						span.text
							|Профессор Л.Ф.Васильева (Россия), «Патобиомеханика стоматогнастической системы»
					li.clearfix
						span.date 2011 г.
						span.text
							|Dr. Didier Fillion (Франция), «Лингвальная техника прямой дуги»
					li.clearfix
						span.date 2012 г.
						span.text
							|Lr. Кузнецов Д.А. (Россия), «Star Smile Ортодонтия без брекетов»
					li.clearfix
						span.date 2013 г.
						span.text
							|Lr. Марк Гезерик "Инновационные технологии ORMCO: Активно-пассивные брекеты Prodigy SL - это реальность! Цифровая ортодонтия"
					li.clearfix
						span.date 2013 г.
						span.text
							|Доктор Вахней С.Н. (Россия) Центр научно-практической стоматологии "Мини-ординатура по ортодонтии"
					li.clearfix
						span.date 2013 г.
						span.text
							|Доктор Попов С.В. (Россия) Сертификационный курс "Incognito - Appliance system"
					li.clearfix
						span.date 2014 г.
						span.text
							|Конференция "Передовая ортодонтия"
					li.clearfix
						span.date 2015 г.
						span.text
							|Доктор Булатова Г.В. "Индивидуализированная брекет-система Insignia"
					li.clearfix
						span.date 2015 г.
						span.text
							|Доктор Бондарева Т.В. "Практическая гнатология. Функциональное исправление прикуса у детей и взрослых"
					li.clearfix
						span.date 2015 г.
						span.text
							|Доктор Булатова Г.В. "Индивидуализированная брекет-система Insignia продвинутый курс. междисциплинарный приём"
					li.clearfix
						span.date 2015 г.
						span.text
							|Доктор Перламонов М.В. "Взаимодействие остеопата и ортодонта в работе с пациентами с ВНЧСД"
					li.clearfix
						span.date 2016 г.
						span.text
							|Конференция "Передовая ортодонтия"
					li.clearfix
						span.date 2017 г.
						span.text
							|Учебный курс "Использование Ботокса в ортодонтической практике"
// *Education* 