// Ortodont about text
section.ortodont_about_text.section-p-80(data-js-init="AboutPage")
	.container
		.row
			.col-md-12
				h2.text-center Надежда Николаева

				h3 
				p.
					Здравствуйте! Я практикующий врач-ортодонт. Своей работой делаю людей здоровыми и красивыми. Помогаю избавится от комплексов и стать уверенными в себе. Идеальные зубы с рождения встречаются у 3% всего населения земного шара, а у остальных идеальная ослепительная улыбка — это работа профессионального врача-ортодонта.<br><br>

					Я регулярно посещаю семинары и конференции по ортодонтии, повышая свой профессиональный уровень. В работе практикую современные технологии, для того, чтобы диагностика и лечение доставили минимум дискомфорта моим пациентам.<br><br>

					Несмотря на то, что многих волнует непосредственно эстетическая сторона улыбки, нужно всегда помнить, что здоровье зубов — это очень важно для комфортной и счастливой жизни!<br><br>

					Вам нужна качественная чистка на современном оборудовании, лечение или установка брекет-системы? Я готова Вам в этом помочь, сделав Ваши зубы ровными, ослепительно белоснежными и здоровыми. 