.category-list-blog
	ul
		li.d-flex.align-items-center.justify-content-center.active
			a(href="#") Красота и здоровье
		li.d-flex.align-items-center.justify-content-center 
			a(href="#") Уход и гигиена
		li.d-flex.align-items-center.justify-content-center 
			a(href="#") Терапевтия
		li.d-flex.align-items-center.justify-content-center 
			a(href="#") Ортодонтическое<br>лечение
		li.d-flex.align-items-center.justify-content-center 
			a(href="#") Брекет системы