.container.top-line(data-js-init="BlogPage")
	.row
		.col-md-12
			.pull-right.d-flex.align-items-center
				.filters-case.pull-left
					.current Сортировка
						i.arrow-list
						ul.list-group.filters-list
							li.list-group-item
								a По дате
							li.list-group-item
								a По названию
				
				// .open
				.search-case.pull-left
					.wrapper-hide.d-flex.align-items-center.justify-content-center 
						i.search-icon
						|Поиск по блогу
					input(type="text", name="search").form-control

				.clearfix
			.clearfix