/* CATEGORY MENU */
.services-menu-wrapper {
	@media (min-width: 768px) {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	@media (min-width: 576px) {
		.top-line {
			display: none;
		}
	}
	@media (max-width: 575px) {
		.desktop {
			display: none !important;
		}
		.mobile {
			height: 60px;
			margin-bottom: 40px;
		
			.top-line {
				width: 100%;
			    max-width: calc(100% - 20px);
			    
			  	.filters-case .current .filters-list {
			  		left: 10px;
			  		right: auto;
			  	}

			  	.current-menu {
					float: right;
					font-family: "UbuntuMedium";
					padding-right: 10px;
					color: $blue;
				}
			}
		}
	}
}

.category-menu-services {
	margin-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,.12);
	
	li {
		width: 280px;
		height: 60px;
		color: $white;
		margin: 30px 10px 0px;
		line-height: 18px;

		@media (max-width: 1229px) {
			width: 222px
		}
		@media (max-width: 991px) {
			width: 160px;
		}
		@media (max-width: 767px) {
			width: 115px;
		}

		&:first-child {
			margin-left: 0px;
		}

		&:last-child {
			margin-right: 0px;
		}
		
		a {
			color: rgba(0,0,0,.54);
   			text-align: center;
    		text-decoration: none;
    		letter-spacing: 1px;
    		font-size: 18px;
    		font-family: "UbuntuBold";
    		width: 100%;
    		height: 100%;
    		position: relative;
			

			@media (max-width: 1229px) {
				font-size: 16px;
			}
			@media (max-width: 991px) {
				font-size: 15px;
			}
    		
    		@media (max-width: 767px){
    			font-size: 14px;
    		}
    		
    		span {
			    max-width: 180px;
    		}

    		&::after {
    			content: '';
    			width: 0%;
    			height: 0px;
    			right: 0;
    			bottom: -1px;
    			top: auto;
    			opacity: 0.4;
    			position: absolute;
				@include animation(active_elemet_services_out 2s cubic-bezier(0.22, 0.61, 0.36, 1));
    		}
		}

		&:hover {
			a {
				color: $blue;
			}
		}

		&.active {
			cursor: default;
			
			a {
				color: $blue;
				cursor: default;

				&::after {
	    			width: 100%;
    				height: 4px;
					opacity: 1;
					background: $blue;
					@include animation(active_elemet_services 1s cubic-bezier(0.22, 0.61, 0.36, 1));
				}
			}
		}
	}
}

@include keyframes (active_elemet_services){
	from {opacity: 0.4; width: 0%;height: 0px;}
	60% {opacity: 0.4; width: 0%;height: 1px;}
	85% {opacity: 1; width: 100%;height: 1px;}
	to {opacity: 1;width: 100%;height: 4px;}
}
@include keyframes (active_elemet_services_out){
	from {opacity: 1;background: $blue;}
	to {opacity: 0; background: $blue;}
}