.category-list-blog {
	margin-bottom: 40px;
	position: absolute;
	top: 0;

	.title-section {
		text-align: right;
		font-family: 'UbuntuBold';
		font-size: 26px;
		padding: 40px 40px 20px;
		color: rgba(0,0,0,0.87);
		text-decoration: none;
	}
	
	ul {
		padding: 0px;
		margin: 0px;
		list-style: none;
		
		li {
			text-align: center;
		    padding: 7px 40px;
		    @include border-radius(4px 0 0 4px);
					
			&:last-child {
				border-bottom: none;
			}

			a {
				font-size: 14px;
				font-family: 'UbuntuBold';
				text-decoration: none;
			    line-height: 20px;
			    @include transition(all 0.2s);
			    text-transform: uppercase;
			    color: rgba(0,0,0,0.7);

				&:hover,
				&.active {
					color: $blue;
				}
			}

			&.active {
				background: $blue;

				a {
					color: $white;
				}
			}
		}
	}
}