//Items list
.blog-items-wrapper {
	padding-bottom: 40px;

	.item-wrapper {
		background: $white;
		position: relative;
		overflow: hidden;
		@include border-radius(12px);
		margin-bottom: 40px;
		@include box-shadow(0 1px 1px 0 rgba(0,0,0,.3));


		.item-cover {
			width: 280px;
			height: 312px;
			float: left;
			display: inline-block;
			overflow: hidden;
			position: relative;

			img {
				max-height: 100%;
			}
		}

		.item-text-wrapper {
			float: left;
		    width: calc(100% - 280px);
			display: inline-block;
			padding: 30px 80px;

			.item-title {
				font-family: 'UbuntuLight';
				font-weight: bold;
				font-size: 18px;
				color: $blue;
				padding-bottom: 26px;
				line-height: 23px;
			}

			.item-text {
				height: 105px;
			    color: #a2a2a2;
			    font-size: 14px;
			    overflow: hidden;
			    line-height: 21px;
			    margin-bottom: 35px;
			    letter-spacing: 0.25px;
			}

			.item-public-date {
				color: #a2a2a2;
				float: left;
				font-size: 14px;
				line-height: 31px;
    			letter-spacing: 0.7px;
			}

			.item-button-read {
				font-family: UbuntuLight;
			    cursor: pointer;
			    color: $white;
			    width: 180px;
			    height: 32px;
			    padding: 0;
			    font-weight: 500;
			    font-size: 14px;
			    letter-spacing: 1.25px;
			    text-transform: initial;
			    line-height: 26px;
			    float: right;
			}
		}

	}

}