.top-line {
	padding-top: 40px;
	height: 80px;

	.filters-case {
		
		.current {
			font-size: 12px;
			cursor: pointer;
			position: relative;
			
			.arrow-list {
				margin-left: 15px;
				width: 11px;
				height: 7px;
				display: inline-block;
				background: url(../../images/icon/arrow_list.png) no-repeat left top;
			}

			.filters-list{
				display: none;
				position: absolute;
				top: calc(100% + 5px);
				width: 150px;
			    left: -15px;
   				z-index: 10;
			
				&:hover {
					display: block;
				}

				.list-group-item {
				    padding: 0.45rem 1rem;

					&:hover {
						background: $blue;
						
						a {
							color: $white;
						}
					}
				}
			}

			&:hover {
				color: $blue;

				.arrow-list {
					background-position: right top;
				}
			}
		}

		&.open {
			.current{
				color: $blue;
				
				.filters-list{
					display: block;
					@include box-shadow(1px 1px 1px 0px rgba(0,0,0,0.5));

					.list-group-item {
						@include border-radius(0px);
					}
				}
				.arrow-list {
					background-position: right top;
				}				
			}
		}
	}

	.search-case {
		width: 380px;
		height: 100%;
		margin-left: 40px;
		
		.wrapper-hide {
			width: 100%;
			height: 100%;
			background: $white;
			text-align: center;
			cursor: pointer;
			font-size: 12px;
			
			.search-icon {
				margin-right: 10px;
				width: 13px;
				height: 13px;
				display: inline-block;
				background: url(../../images/icon/search.png) no-repeat left top;
			}
			
			&:hover {
				color: $blue;
				
				.search-icon {
					background-position: right top;
				}
			}
		}
		input[name="search"] {
			display: none;
		}

		&.open {
			position: relative;
			
			.wrapper-hide {
				display: none !important;
			}

			input[name="search"] {
				display: block;
				max-height: 100%;
				border: none;
				width: 100%;
				font-size: 14px;
				text-align: left;
				padding-left: 43px;				
			}
			
			&::before {
				content: '';
				width: 13px;
				height: 13px;
				display: block;
				position: absolute;
				left: 15px;
				top: -50%;
				bottom: -50%;
				margin: auto;
				background: $white url(../../images/icon/search.png) no-repeat right; 
			}
		}
	}
}
