section.about-section-index {
	z-index: 1;
	position: relative;

	@media (max-width: 580px) {
		padding: 35px 20px;
	}

	h1 {
		margin-bottom: .5rem;
	}

	@media (min-width: 540px) {
		@include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.75));
	}

	.content-about {
		margin-top: 24px;
	}

	p {
		margin-bottom: 0px;

		@media (min-width: 992px) and (max-width: 1229px) {
		}
	}
	
	.about-list-advantages {
		margin-top: 10px;

		.item-about-advantages {
        	@media (min-width: 992px) {
				margin-top: 30px;
			}
        	@media (max-width: 991px) {
				margin-top: 25px;
			}

			.icon-item-about-advantages {
				float: left;
				width: 50px;
				height: 50px;
				background: $blue;
				margin-right: 30px;
				display: inline-block;
				@include border-radius(50%);


				&.diploma {
					background: $blue url(../../images/icon/about/diploma.png) no-repeat center;
				}
				&.practice {
					background: $blue url(../../images/icon/about/practice.png) no-repeat center;
				}
				&.certificate {
					background: $blue url(../../images/icon/about/certificate.png) no-repeat center;
				}
			}

			.text-item-about-advantages {
				float: left;
				width: 260px;
				display: inline-block;
				letter-spacing: 0.1px;

				@media (max-width: 360px) {
					width: 200px;
				}
				@media (max-width: 290px) {
					width: 150px;
				}
			}
		}
	}



	.doctor-photo{
		float: right;
		max-width: 100%;
	    @media (max-width: 767px) {
	    	display: none;
	    }
	}
	.doctor-photo-mobile {
		display: none;
		margin-top: 30px;
	
		@media (max-width: 767px) {
			display: block;
		    height: 300px;
		    margin: 50px auto 0;
		}
	}
}