// Advatages section index page
section.advantages-section-index {
	z-index: 1;
	position: relative;
	background: #f7f9ff;

	.advantage-wrapper {
		max-width: 205px;
		margin: 0 auto;

		.advantage-icon {
			width: 110px;
			height: 110px;
			margin: 0 auto 35px;
			border: 2px solid $blue;
			border-radius: 50%;
		}

		.advantage-descriprion {
    		font-family: "UbuntuBold";
			font-size: 18px;
			font-weight: normal;
			text-align: center;
			margin: 0px;
		}
	}
}