.carousel {
    @media (max-width: 539px) {
        display: none;
    }

    .btn-primary {
        float: left;
        margin-left: 90px;
    }
}

.carousel-item {
    height: 560px;
    overflow: hidden;

	@media (max-width: 1229px) {
    	height: 420px;
	}

	@media (max-width: 992px) {
    	height: 360px;
	}

	@media (max-width: 769px) {
    	height: 300px;
	}

	@media (max-width: 577px) {
    	height: 420px;
	}
}

.carousel-indicators {
    bottom: auto;
    margin: 0;
    left: auto;
    width: 230px;
    top: 3px;
    right: 363px;

    @media (max-width: 991px) {
        left: 0;
    }

    li {
        border-radius: 50%;
        margin: 0px 5px;
        background: $white;
    }

    .active {
        height: 12px;
        max-width: 12px;
        margin-left: 2px;
        background: transparent;
        border: 2px solid $white;
    }
}

.carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 670px;
    height: 100%;
    right: 10px;
    left: auto;
    background: rgba(68,121,224,.5);

    h2 {
        font-size: 48px;
        margin-bottom: 30px;
        text-shadow: 2px 2px rgba(10,10,10,.2);
        color: rgba(255,255,255,.96);
        text-align: left;
        padding-left: 90px;
        padding-right: 90px;
        font-family: "UbuntuRegular";

        @media (max-width: 1229px) {
            font-size: 34px;
        }
        @media (max-width: 992px) {
            font-size: 32px;
        }
        @media (max-width: 769px) {
            font-size: 32px;
        }
        @media (max-width: 577px) {
            font-size: 24px;
        }
    }

    p {
        margin-bottom: 30px;
        font-size: 18px;
        font-family: "UbuntuMedium";
        padding-left: 90px;
        padding-right: 90px;
        text-align: left;
    }
}

.container.slider-bottom-container {
    position: absolute;
    height: 20px;
    left: -50%;
    right: -50%;
    margin: auto;
    bottom: 40px; 

    @media (max-width: 575px) {
        width: 90%
    }
}