@keyframes mouse {
	50%{bottom: -3px;}
	100%{bottom: 0px;}
}

.mouse-scroll{
	width: 200px;
	position: absolute;
	right: 100px;
	bottom: 0;
	color: white;
	font-family: 'UbuntuRegular';
	
	> span {
		font-family: "UbuntuRegular";
		letter-spacing: 0.5px;
		font-weight: normal;
		font-size: 12px;
		color: $white;
	}
	
	@media (max-width: 767px){
		font-size: 11px;
		bottom: -5px;
	}
	
	.mouse{
		width: 20px;
		height: 30px;
		background: url(../../images/icon/mouse.png) no-repeat center top;
		display: inline-block;
		clear: both;
		margin-top: 5px;
		
		@media (max-width: 767px){
			height: 18px;
			background-size: cover;
			width: 12px;
		}
	}
	
	.down-mouse{
		width: 10px;
		display: inline-block;
		position: relative;
		margin-left: 24px;
		cursor: pointer;
		top: -5px;
		
		i.bottom{
			margin-right: -1px;
			position: relative;
			bottom: 0;
			animation: mouse 1s forwards 2s infinite;
			margin-top: 5px;
			width: 10px;
			height: 11px;
			background: url(../../images/icon/bottom.png) center top no-repeat;
			display: inline-block;
			background-size: cover;
			    
			&:first-child{
				margin-bottom: -6px;
			}				
		}
	}
	
	// &:hover{
	// 	text-decoration: none;
	// 	cursor: pointer;
	// 	color: $blue;
		
	// 	.mouse{
	// 		background-position: center bottom;
	// 	}

	// 	.down-mouse{	
	// 		i.bottom{
	// 			background-position: center bottom;
	// 		}	
	// 	}

	// 	> span {
	// 		color: $blue;
	// 	}
	// }
	@media (max-width: 320px){
		display: none;
	}
}
