// Services section index page
section.services-section-index {

	@media (max-width: 580px) {
		h1, h2, h3 {
			margin-bottom: 20px;
		}
	}

	.services-case-wrapper {
        @media (min-width: 992px) {
			margin-top: -10px;
			padding-bottom: 50px;
		}

        @media (max-width: 991px) {
			padding-bottom: 25px;
		}

		.item-group {
		    margin: 0 -2px;
			max-width: 50%;
	        @media (max-width: 991px) {
	        	max-width: 100%;
	        }

			@media (max-width: 1229px) {
				width: 100%;

				.item {
					max-width: 300px;
				}
			}
			
			@media (max-width: 539px) {
			    max-width: 300px;
			    margin: 0 auto;
			    
				-webkit-box-pack: center!important;
				-webkit-justify-content: center!important;
				-ms-flex-pack: center!important;
				justify-content: center!important;

				-webkit-box-orient: vertical!important;
				-webkit-box-direction: normal!important;
				-webkit-flex-direction: column!important;
				-ms-flex-direction: column!important;
				flex-direction: column!important;
				
				.item {
					clear: both;
				}

			}
		}
		
	}

	.service-case {
		display: block;
		overflow: hidden;
		margin-top: 10px;
		border-radius: 10px;
		padding-bottom: 19px;
		text-decoration: none;
		border: 1px solid rgba(0, 0, 0, 0.12);
		@include transition(all 0.7s);

		&:hover {
			border-color: rgba(0, 0, 0, 0.24);
			// @include box-shadow(0 2px 2px 0 rgba(0,0,0,.4));
			position: relative;
			z-index: 1;
			background: white;
		}

		&.opacity {
			opacity: 0.5;
		}


		.service-image-wrapper {
			width: 100%;
			max-height: 190px;
			overflow: hidden;
			position: relative;
			text-align: center;

			> img {
				width: calc(100% + 2px);
				margin-left: -1px;
				margin-top: -1px;
			}
		}

		.services-title {
			font-size: 18px;
			margin-top: 30px;
			text-align: center;
			font-weight: normal;
			margin-bottom: 20px;
    		font-family: "UbuntuMedium";
    		color: rgba(0,0,0,.7);

    		@media (min-width: 768px) {
				padding: 0px 30px;
    		}
    		@media (max-width: 767px) {
				padding: 0 15px;
    		}

		}
		
		.services-description {
			font-weight: normal;
			color: rgba(0,0,0,.54);
			text-align: center;
			letter-spacing: 0px;
			font-family: "UbuntuRegular";

    		@media (min-width: 768px) {
				padding: 0px 15px;
				font-size: 12px;
    		}

    		@media (max-width: 767px) {
				padding: 0px 15px;
				font-size: 12px;
    		}

		}
	}

	.all-services {
		margin-top: 5px;
	}
}