/* contact form */
section.feedback-section {
	.container {
		max-width: 780px;
	}

	#feedback {
		margin-bottom: 0px;

		// @media (min-width: 768px) {

		// }

        @media (max-width: 991px) {
			margin: 0px 25px 0;
        }

        .input-group {
		    margin-bottom: 20px;
		}

		textarea {
			min-height: 150px;
		}
		
		button[type="submit"] {
			margin-top: 25px;
			cursor: pointer;
			@include transition(all 0.2s);

	        @media (max-width: 991px) {
	        	margin-top: 15px;
	        }
			
			&:not(.load) {
				.load {
					display: none;
				}
			}

			&.load {
				.normal {
					display: none;
				}

				i {
				    margin-right: 10px;
				}

				opacity: 0.7;
			}
		}
	}
}