-var active_menu = 'Обо мне';
-var descriptionTop = '';
-var bg = 'images/bg/about_ortodonts.ru.jpg';
-var breadcrumb = [{name: "Главная", link: "/index.html"}, {name: "Обо мне", link: ""}];

html(lang='ru')
	include include/common/head
	body(data-js-init="wow")
		include include/common/header
		
		include include/common/topSection
		include include/about/ortodont_about_text
		include include/about/certificates
		include include/about/education-section
		include include/index/faq
		include include/common/contactForm

		include include/common/footer
		include include/common/contact_button

		script(src='js/slick.min.js')

