-var active_menu = 'Блог';
-var breadcrumb = [{name: "Главная", link: "/index.html"}, {name: "Блог", link: "/blog.html"}];

html(lang='ru')
	include include/common/head
	body(data-js-init="wow")
		include include/common/header
		
		section.blog-container
		
			.container
				.row
					.col-md-12
						include include/common/breadcrumb
		
			include include/blog/top-line

			.container.wrapper-columns
				.row
					.col-md-12
						.column-left
							include include/blog/category-menu
						.column-right
							include include/blog/item-list
							include include/common/paginator
					
					.clearfix

		include include/common/footer
		include include/common/contact_button