-var active_menu = 'Главная';

html(lang='ru')
	include include/common/head
	body
		include include/common/header

		include include/index/carousel
		include include/index/about-section

		include include/common/footer
