-var active_menu = 'Главная';

html(lang='ru')
	include include/common/head
	body(data-js-init="wow")
		include include/common/header

		include include/index/carousel
		include include/index/about-section
		include include/index/advantages-section
		include include/index/services-section
		include include/index/faq
		include include/common/contactForm

		include include/common/footer
		include include/common/contact_button

