// ABOUT SECTION 
section.about-section-index.section-p-80(data-js-init="indexPage")
	.container
		.row
			.col-md-6
				h1 Надежда Николаева
				span.description-mini Врач-ортодонт
				
				img.doctor-photo-mobile(src="images/vrach-ortodont_Nikolaeva_Nadezhda_ortodonts.ru.jpg", alt="ortodonts.ru")
				
				.content-about.align-content-center.flex-wrap.d-flex
					p.
						Для большинства людей такое понятие, как «ортодонтия» является неизвестным. Хотя для многих врач-ортодонт стал бы спасением. Для начала предлагаю разобрать это понятие.<br>
						И так, ортодонтия (от греч. оrthos –прямой и odontos – зуб) фактически это процесс создания прямых зубов, если рассматривать это дословно.  А подходя с глобальной точки зрения это спасение для очень многих людей. Ведь встречают человека «по одежке», то есть по его внешнему виду, а красивая улыбка это 50% успеха.<br>
						Вы стесняетесь улыбаться, по причине того, что у Вас диастема (щербинка) между зубками? Неправильный прикус? Другие дефекты? Для меня это не проблема, а любимая работа и желание помочь Вам быть красивыми! Абсолютно безболезненно, быстро и эстетично.


					//- .about-list-advantages
					//- 	.item-about-advantages.d-flex.align-items-center.wow.fadeInLeft
					//- 		.icon-item-about-advantages.diploma
					//- 		.text-item-about-advantages.
					//- 			Дипломированный и сертифицированный специалист
					//- 		.clearfix

					//- 	.item-about-advantages.d-flex.align-items-center.wow.fadeInLeft
					//- 		.icon-item-about-advantages.practice
					//- 		.text-item-about-advantages.
					//- 			Десять лет непрерывной практики в ортодонтии
					//- 		.clearfix

					//- 	.item-about-advantages.d-flex.align-items-center.wow.fadeInLeft
					//- 		.icon-item-about-advantages.certificate
					//- 		.text-item-about-advantages.
					//- 			Постоянный участник семинаров и конференций
					//- 		.clearfix

			.col-md-6
				img.doctor-photo(src="images/vrach-ortodont_Nikolaeva_Nadezhda_ortodonts.ru.jpg", alt="ortodonts.ru")

// ABOUT SECTION* 