// ABOUT SECTION 
section.about-section-index.section-p-80(data-js-init="indexPage")
	.container
		.row
			.col-md-6
				h1 Надежда Николаева
				span.description-mini Врач-ортодонт
				
				.row
					.col-md-4
						img.doctor-photo(src="images/vrach-ortodont_Nikolaeva_Nadezhda.jpg", alt="")
				
					.col-md-8
						p.
							Мой подход к лечению - коррекция положения и размеров зубных рядов, нормализация прикуса и создание оптимального динамического соотношения приводящих и отводящих мышц. Конечный результат - улучшение эстетики лица, красивая улыбка и правильный прикус.


				a.btn.btn-primary(href="../build/about.html").hvr-grow-shadow узнать больше
			.col-md-6
				
// ABOUT SECTION* 