#carousel.carousel.slide(data-ride="carousel")

	.carousel-inner(role="listbox")
		.carousel-item.active(style="background: url(images/slider/sovremennaya_ortodontiya_v_moskve.jpg) no-repeat;background-size: cover;", alt="Современная ортодонтия в Москве")
			.carousel-caption.d-flex.align-items-center
				.flex-column(style="width: 100%")
					h2.
						ПЕРЕДОВАЯ ОРТОДОНТИЯ <br> В МОСКВЕ
					//- p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor

					a.btn.btn-primary(href="", target="_blank") Подробнее

					
		.carousel-item(style="background: url(images/slider/nikolaeva_nadezhda_vrach-ortodont_v_moskve.jpg) no-repeat;background-size: cover;", alt="Николаева Надежда Николаевна врач-ортодонт в Москве")
			.carousel-caption.d-flex.align-items-center
				.flex-column(style="width: 100%")
					h2.
						ПЕРЕДОВАЯ ОРТОДОНТИЯ <br> В МОСКВЕ
					//- p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor

					a.btn.btn-primary(href="", target="_blank") Подробнее


		.carousel-item(style="background: url(images/slider/premium_breket-sistemi_v_moskve.jpg) no-repeat;background-size: cover;", alt="Премиум брекет-системы в Москве")
			.carousel-caption.d-flex.align-items-center
				.flex-column(style="width: 100%")
					h2.
						ПЕРЕДОВАЯ ОРТОДОНТИЯ <br> В МОСКВЕ
					//- p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor

					a.btn.btn-primary(href="", target="_blank") Подробнее

	.container.slider-bottom-container

		ol.carousel-indicators.justify-content-start.align-items-center
			li.active(data-target="#carousel", data-slide-to="0")
			li(data-target="#carousel", data-slide-to="1")
			li(data-target="#carousel", data-slide-to="2")

		a.mouse-scroll(onclick="scroll_down()").text-right
			span Прокрутите вниз
			.down-mouse
				i.bottom
