// FAQ 
section.faq-section-index
	.container
		.row
			.col-md-6.col-sm-7
				.wrapper.d-flex.justify-content-end.align-items-center.flex-wrap.align-content-center
					h2 Часто<br>задаваемые<br>вопросы 

					p.
						Брекеты портят эмаль зубов и после них образуется кариес?
					.btn-wrapper
						a.btn.btn-primary.hvr-grow-shadow(href="#") читать ответ
// *FAQ* 