// Services
section.services-section-index.section-p-80
	.container
		.row
			.col-md-12
				h1.text-center Услуги
		.row.services-case-wrapper
			.item-group.d-flex.justify-content-center
				.col-md-6.item
					a.service-case(href="#").hvr-grow
						.service-image-wrapper
							img(src="images/services/ortodonts.jpg", alt="")
						h4.services-title Ортодонтия
						p.services-description.
							Ортодонтическое личение. <br/> Исправление прикуса. <br/> Цифровая ортодонтия, 3D диагностика.
				.col-md-6.item
					a.service-case(href="#").hvr-grow
						.service-image-wrapper
							img(src="images/services/theraphy.jpg", alt="")
						h4.services-title Терапия
						p.services-description.
							Лечение и профилактика кариеса.<br/> Глубокое фторирование.<br/> Подготовка к ортодонти-му лечению.
			.item-group.d-flex.justify-content-center
				.col-md-6.item
					a.service-case(href="#").hvr-grow
						.service-image-wrapper
							img(src="images/services/Aesthetic.jpg", alt="")
						h4.services-title(style="font-size: 15.5px;") Эстетическая стоматология
						p.services-description.
							Реставрация и восстановление зубов.<br/> Виниры и люминиры. <br/>Отбеливание и проф. чистка зубов.
							
				.col-md-6.item
					a.service-case(href="#").hvr-grow
						.service-image-wrapper
							img(src="images/services/training.jpg", alt="")
						h4.services-title Обучение гигиене
						p.services-description.
							Индивидуальный уход за зубами.<br/> Подбор средств гигиены.<br/> Контроль с помощью маркёров.
		.row.all-services
			.col-md-12.text-center
				a.btn.btn-primary(href="/bild/services.html").hvr-grow-shadow все услуги
// *Services*
