// Services
section.services-section-index.section-p-80
	.container
		.row
			.col-md-12
				h1.text-center.with-description Услуги
				.title-description.text-center.
					Найдите интересующую Вас услугу и скорее записывайтесь на прием!<br>
					Чем раньше Вы начнете лечение - тем быстрее станете здоровыми.
		.row.services-case-wrapper
			.item-group.d-flex.justify-content-center
				.col-md-6.item.wow.zoomIn(data-wow-delay="0.4s", data-wow-duration="0.7s")
					a.service-case(href="#").hvr-grow
						.service-image-wrapper
							img(src="images/services/ortodonts.jpg", alt="")
						h4.services-title Ортодонтия
						p.services-description.
							Ортодонтическое личение.<br/>
							Исправление прикуса.<br/>
							Цифровая ортодонтия,<br/>
							3D диагностика.

				.col-md-6.item.wow.zoomIn(data-wow-delay="0.7s", data-wow-duration="0.7s")
					a.service-case(href="#").hvr-grow
						.service-image-wrapper
							img(src="images/services/theraphy.jpg", alt="")
						h4.services-title Терапия
						p.services-description.
							Лечение и профилактика<br/>
							кариеса, глубокое<br/>
							фторирование, подготовка<br/>
							к ортодонтическому лечению

			.item-group.d-flex.justify-content-center
				.col-md-6.item.wow.zoomIn(data-wow-delay="0.9s", data-wow-duration="0.7s")
					a.service-case(href="#").hvr-grow
						.service-image-wrapper
							img(src="images/services/Aesthetic.jpg", alt="")
						h4.services-title Эстетическая стоматология
						p.services-description.
							Реставрация и восстановление<br/>
							зубов, виниры и люминиры.<br/>
							Отбеливание и чистка зубов.
							
				.col-md-6.item.item.wow.zoomIn(data-wow-delay="1.2s", data-wow-duration="0.6s")
					a.service-case(href="#").hvr-grow
						.service-image-wrapper
							img(src="images/services/training.jpg", alt="")
						h4.services-title Обучение гигиене
						p.services-description.
							Индивидуальный уход<br/>
							за зубами, подбор средств<br/>
							гигиены, контроль<br>
							с помощью маркёров.

		.row.all-services
			.col-md-12.text-center
				a.btn.btn-primary(href="/bild/services.html").hvr-grow-shadow все услуги
// *Services*
