.services-menu-wrapper
	.container
		.row
			.d-flex.justify-content-around
				.container-fluid
					ul.list-inline.category-menu-services
						li.active
							a(href="#").d-flex.align-items-center.justify-content-center
								span Ортодонтия
						li
							a(href="#").d-flex.align-items-center.justify-content-center
								span Терапия
						li
							a(href="#").d-flex.align-items-center.justify-content-center
								span Эстетическая стоматология
						li
							a(href="#").d-flex.align-items-center.justify-content-center
								span Обучение гигиене полости рта