/* ABOUT */
.ortodont_about_text {

	h3, h4 {
		color: $blue;
		font-size: 1.1rem;
		margin-bottom: 40px;
    	
    	@media (max-width: 991px) {
			margin-bottom: 20px;
    	}
	}

	@media (max-width: 500px) {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	
}


@import "education-section";
@import "certificates";
@import "advantages";
