/* ABOUT */
.ortodont_about_text {
	padding-bottom: 0px !important;

	h3, h4 {
		color: $blue;
		font-size: 1.1rem;
		margin-bottom: 40px;
    	
    	@media (max-width: 991px) {
			margin-bottom: 20px;
    	}
	}

	p {
		margin-bottom: 80px;
    	
    	@media (max-width: 991px) {
    		margin-bottom: 40px;
    	}
	}
	
}


@import "education-section";
@import "certificates";
@import "advantages";
