/* advantages about */
.advantages-section-about {
	z-index: 1;
	position: relative;
	background: #f7f7f7;

	@media (max-width: 767px) and (min-width: 540px){
		padding-bottom: 30px !important;
	}
	@media (max-width: 539px) {
		padding-bottom: 0px !important;
	}

	@media (max-width: 290px) {
		.col-6 {
			flex: 0 0 100%;
			max-width: 100%;

			&:last-child {
				> .advantage-wrapper {
					margin-bottom: 20px;
				}
			}
		}
	}	

    @media (max-width: 767px) {
		padding-bottom: 30px;
    }

	.advantage-wrapper {
		max-width: 380px;
		margin: 0 auto;

	    @media (max-width: 767px) {
			margin-bottom: 50px;
		}

		.advantage-icon {
			margin: 0 auto 35px;
			border: 2px solid $blue;
			border-radius: 50%;

	    	@media (min-width: 992px) {
				width: 110px;
				height: 110px;
			}

        	@media (max-width: 991px) {
				width: 96px;
				height: 96px;
			}

		}

		.advantage-descriprion {
    		font-family: "UbuntuRegular";
			font-weight: normal;
			text-align: center;
			line-height: 24px;
			margin: 0px;
			color: rgba(0,0,0,0.54);
			
	    	@media (min-width: 992px) {
				font-size: 18px;
			}
        	@media (max-width: 991px) {
				font-size: 13px;
			}
		}
	}
}