@import "../../include/slick";
@import "../../include/slick-theme";
/* certificates about */
.certificates-section {
	z-index: 1;
	position: relative;
	background: #f7f7f7;

	.certificates-slider-wrapper {
		position: relative;

		.wrapper-slide {
			@include transition(all 0.4s);
			position: relative;
			height: auto;

			.slick-current {
				-webkit-transform: scale(1.2);
				transform: scale(1.2);
				opacity: 1;
				top: 10px;
			    position: relative;
			}

			.slick-slide {
		    	height: auto;
				text-align: center;
				@include transition(all 0.5s);
				
	        	@media (max-width: 767px) {
					max-height: 380px;
	        	}

				img {
					margin: 0 auto;
				}
			}

			.slick-list {
				padding: 40px 30px 50px!important; 
				
				@media (min-width: 992px) and (max-width: 1229px){
					padding: 30px 30px 45px!important; 
				}
	        	@media (min-width: 768px) and (max-width: 991px) {
					padding: 20px 30px 35px!important; 
				}
			}
		}

		.arrow-item {
			width: 42px;
			height: 42px;
			border: 1px solid #212431;
			position: absolute;
			left: 372px;
			top: -50%;
			bottom: -50%;
			margin: auto;
			font-size: 22px;
			text-align: center;
			padding-top: 8px;
			cursor: pointer;
			color: #212431;
		    z-index: 10;
		    background: #f7f7f7;
			@include transition(all 0.2s);

			@media (min-width: 992px) and (max-width: 1229px){
				left: 295px;
			}
        	@media (min-width: 768px) and (max-width: 991px) {
				width: 32px;
				height: 32px;
				font-size: 18px;
				left: 219px;
        	}
        	@media (max-width: 767px) {
				width: 32px;
				height: 32px;
				font-size: 18px;
				left: 0;
        	}
        	@media (max-width: 625px) {
        		left: 20px;
        	}
	    	@media (max-width: 550px) and (min-width: 421px){
	    		left: 40px;
	    	}

			&.right-arrow {
				left: auto;
				right: 370px;

				@media (min-width: 992px) and (max-width: 1229px){
					right: 295px;
				}
	        	@media (min-width: 768px) and (max-width: 991px) {
					right: 219px;
	        	}
	        	@media (max-width: 767px) {
	        		right: 0;
	        	}
	        	@media (max-width: 625px) {
	        		right: 20px;
	        	}
		    	@media (max-width: 550px) and (min-width: 421px){
		    		right: 40px;
		    	}
			}

			&:hover {
				color: #fff;
				background-color: #212431;
			}
		}

		.certificates-item {
			margin: 0px 50px;
			@include transition(opacity 0.3s);
			opacity: 0.5;
			float: left;
		
			@media (min-width: 992px) and (max-width: 1229px){
				margin: 0px 40px;
			}
        	@media (min-width: 768px) and (max-width: 991px) {
				margin: 0px 30px;
        	}
			
			img {
			    max-width: 100%;
			    max-height: 100%;
			}

		}
	}
}