head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(http-equiv='language', content='RU')
	//- meta(name='viewport', content='width=device-width, initial-scale=1')

	meta(property="og:url", content="http://ortodonts.ru")
	meta(property="og:title", content="Передовая ортодонтия в Москве. Врач-ортодонт Надежда Николаева.")
	meta(property="og:image", content="/images/")
	meta(property="og:description", content="Брекет системы.")

	title Ortodonts

	link(rel='stylesheet', href='styles/css/science.css')

	script(async, src='js/jquery.min.js')
	script(async, src='js/bootstrap.min.js')
	script(async, src='js/main.js')
