// FOOTER 
footer
	.container
		.row
			.col-md-4.col-sm-4.d-flex.copyright-wrapper
				p.copyright.
					©Все права защищены
					<br/>
					Ortodonts 2017

			.col-md-4.col-sm-4.text-center
				.d-flex.flex-nowrap.justify-content-around.align-items-center
					a.social.d-flex.justify-content-center.align-items-center.faa-parent.animated-hover(href="#").vk
						i.fa.fa-vk.faa-pulse
					a.social.d-flex.justify-content-center.align-items-center.faa-parent.animated-hover(href="#")
						i.fa.fa-twitter.faa-tada
					a.social.d-flex.justify-content-center.align-items-center.faa-parent.animated-hover(href="#")
						i.fa.fa-instagram.faa-pulse

			.col-md-4.col-sm-4.d-flex.powered-wrapper
				p.powered Разработано в &nbsp
					a(href="#") Lauer
// *FOOTER* 