head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(http-equiv='language', content='RU')
	meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

	meta(property="og:url", content="http://ortodonts.ru")
	meta(property="og:title", content="Передовая ортодонтия в Москве. Врач-ортодонт Надежда Николаева.")
	meta(property="og:image", content="/images/")
	meta(property="og:description", content="Брекет системы.")
	
	link(rel="icon", type="image/png", href="images/favicon.png")

	title Ortodonts

	link(rel='stylesheet', href='styles/css/font.min.css')
	link(rel='stylesheet', href='styles/css/animate.min.css')
	link(rel='stylesheet', href='styles/css/main.min.css')

	script(src='js/jquery.min.js')
	script(async, src='js/tether.min.js')
	script(async, src='js/bootstrap.min.js')
	script(src='js/wow.js')
	script(src='js/main.js')
	script(src='js/app.js')
