- var menu_list = [{name: 'Главная', link: '../build/index.html'}, {name: 'Обо мне', link: '../build/about.html'},{name: 'Услуги', link: '../build/services.html'}, {name: 'Портфолио', link: '../build/portfolio.html'}, {name: 'Вопрос - Ответ', link: '../build/faq.html'}, {name: 'Блог', link: '../build/blog.html'}, {name: 'Контакты', link: '../build/contacts.html'}];

// HEADER 
header
	nav.navbar.navbar-toggleable-md(role="navigation")

		button.navbar-toggler.navbar-toggler-right(type="button", onclick="mobile.menu()")
			i.fa.fa-bars(aria-hidden="true")

		.container
			a.navbar-brand(href="../build/index.html")
				img(src="images/ortodonts_logo.png", alt="ortodonts.ru")
				img.scroll(src="images/ortodonts_logo_scroll.png", alt="ortodonts.ru")
			
			.shawl-mobile
			.flex-row-reverse#HSN
				ul.nav.navbar-nav
					- menu_list.forEach(function(index){

						- if(index.name == active_menu){
							li.active
								a(href= index.link)= index.name
						- } else {
							li
								a(href= index.link)= index.name
						- }

					- });

				.mobile-footer-menu
					footer
						.container
							.row
								.col-12.text-center.d-flex.flex-nowrap.justify-content-center
									.d-flex.flex-nowrap.justify-content-center
										a.social.d-flex.justify-content-center.align-items-center.faa-parent.animated-hover(href="#").vk
											i.fa.fa-vk.faa-pulse
										a.social.d-flex.justify-content-center.align-items-center.faa-parent.animated-hover(href="#")
											i.fa.fa-twitter.faa-tada
										a.social.d-flex.justify-content-center.align-items-center.faa-parent.animated-hover(href="#")
											i.fa.fa-instagram.faa-pulse

								.col-12.contacts-footer.d-flex.align-items-center.flex-column
									div
										a(href="tel:+74959702078", target="_blank") +7 (495) 970-20-78
									div
										a(href="tel:+74959702078", target="_blank") +7 (985) 970-20-78
								
								.col-md-4.col-sm-4.col-4.d-flex.copyright-wrapper.mobile
									p.copyright
										|Разработано в &nbsp
										a(href="https://lauer.agency/", target="_blank") Lauer
										br
										|2017©Ortodonts.ru

// *HEADER* 