// HEADER 
header
	nav.navbar(role="navigation")
		button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#HSN", aria-controls="HSN", aria-expanded="false", aria-label="Toggle navigation")
			span.navbar-toggler-icon
		.container
			.navbar-header
				a.logo-site(href="#")
					//- img(src="/images/logo.png", alt="ortodonts.ru")
					|ORTODONTS

			.collapse.navbar-collapse#HSN
				ul.nav.navbar-nav
					li.active
						a(href="#") Home
					li
						a(href="#") Home

// *HEADER* 